@charset 'utf-8';
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

:root {
  --mw: 1440px;
  --gap1: 8px;
  --gap2: 16px;
  --gap3: 32px;
  --font_c: #051619;
  --main_c: #f5f1e8;
  --point_c1: #ff8303;
  --point_c2: #a35709;
  --sec_c1: #fcfbf8;
  --line_c: rgba(3, 0, 0, 0.2);
  --icon_c: rgba(3, 0, 0, 0.6);
}

body {
  /* overflow-x: hidden; */
  background-color: var(--main_c);
  font-family: "Pretendard-Regular";
  font-weight: 200;
}

.mw {
  /* border: 1px solid red; */
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: auto;
  margin-bottom: 80px;
}

.top_func {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--gap2) 0;
}

.logo {
  /* border: 1px solid blue; */
  width: 226px;
}
.logo img {
  padding-top: var(--gap1);
  width: 100%;
}

.top_icons > button,
.ham > button {
  background-color: transparent;
  border: none;
  padding-left: var(--gap2);
  color: var(--font_c);
  cursor: pointer;
  transition: 0.3s;
}

.top_icons button:hover {
  color: var(--point_c1);
}

.btn_ham {
  display: none;
}

/* 다크모드로 보기 */
/* .btn_dark.on {
}

.fa-moon {
  position: relative;
  display: inline-block;
}
.fa-moon::after {
  content: "다크모드로 보기";
  border: 1px solid var(--font_c);
  color: var(--font_c);
  border-radius: 1rem;
  padding: 0.25rem var(--gap1);
  margin-left: 0.25rem;
  width: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  top: -50%;
  transition: 0.3s;
  overflow: hidden;
}
.fa-moon:hover::after {
  color: var(--point_c1);
  border-color: var(--point_c1);
  width: 100px;
  opacity: 1;
} */

.top_nav {
  display: flex;
  justify-content: space-between;
}

.gnb1 {
  /* border: 1px solid blue; */
  flex-grow: 1;
  padding: 0.25rem var(--gap1);
  margin-left: var(--gap3);
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.gnb1 a {
  color: var(--font_c);
  padding: 0 var(--gap3);
  overflow: hidden;
}

.gnb1 a span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.gnb1 a span::before {
  content: attr(data-hover);
  font-weight: bold;
  position: absolute;
  top: 100%;
  color: var(--point_c1);
}
.gnb1 a:hover span,
.gnb1 a:focus span {
  transform: translateY(-100%);
}

.btn_free span {
  display: inline-block;
  padding: 0.25rem var(--gap2);
  margin-top: 0.2rem;
  background-color: var(--point_c1);
  color: var(--main_c);
  border-radius: 1rem;
  font-size: 0.8rem;
  transition: 0.3s;
}
.btn_free:hover span {
  color: var(--font_c);
  font-weight: bold;
}

/* 메인_오늘의1분뉴스 */
.inside {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.sec1 {
  /* border: 1px solid blue; */
  width: calc(var(--mw) / 12 * 4);
}
.short_news li {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}
.short_news li a {
  color: var(--font_c);
}

.short_news .short00 {
  height: 50px;
  margin-bottom: var(--gap3);
  border-bottom: 1px solid rgba(3, 0, 0, 0.4);
}

.view_more span {
  color: rgba(0, 0, 0, 0.6);
}
.view_more i {
  color: rgba(0, 0, 0, 0.6);
}

.short_news_inner {
  padding: var(--gap1) 0;
  border-bottom: 1px dashed rgba(3, 0, 0, 0.2);
}
.short_news_inner div span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}
.fa-eye {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
}

/* 메인_고슴이구독 */
.sec2 {
  /* border: 1px solid green; */
  width: calc(var(--mw) / 12 * 8);
  position: relative;
  margin-left: 50px;
}

.sec2::before {
  content: "";
  background-image: url(../images/구독_도형.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.sec2::after {
  content: "";
  background-image: url(../images/고슴이돋보기1.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: block;
  width: 340px;
  height: 340px;
  position: absolute;
  bottom: 0;
  right: var(--gap2);
}

.sec2_inner {
  /* border: 1px solid tomato; */
  position: relative;
  margin: 64px 0 0 64px;
}
.sec2_inner p {
  color: white;
}
.sec2_title {
  font-size: 42px;
  margin-bottom: var(--gap2);
}
.sec2_text1 {
  margin-bottom: var(--gap1);
}
.sec2_text1 p span {
  font-weight: 600;
  /* text-decoration: underline; */
}

.btn {
  color: white;
  background-color: var(--point_c2);
  outline-color: var(--point_c2);
  outline: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
  padding: var(--gap1) var(--gap3);
  margin: var(--gap2) 0;
  font-weight: 600;
}
.btn:hover {
  color: var(--point_c2);
  background-color: var(--main_c);
  border: 1px solid var(--point_c2);
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
}

/* section 제목 영역_공통 */
.sec_mw {
  max-width: var(--mw);
  margin: auto;
  margin-top: 40px;
}
.sec_title {
  border-bottom: 1px solid rgba(3, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: var(--gap3);
}
.title {
  position: relative;
  /* border: 1px solid red; */
  padding-right: 1rem;
}
.title strong {
  font-size: 22px;
  position: relative;
  z-index: 1;
  margin-left: 0.25rem;
}
.title > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: -10; */
}

/* 메인_최신뉴스레터 */
/* 최신뉴스레터, SNS 슬라이드 */
.sec3 {
  /* border: 1px solid red; */
  position: relative;
}
.sec3_slide,
.sec8_slide {
  max-width: var(--mw);
  margin-top: var(--gap2);
  /* overflow: visible; */
}

.slide1 {
  border: 1px solid var(--line_c);
  background-color: var(--sec_c1);
  height: 300px;
  cursor: pointer;
}
.slide1:hover img {
  filter: none;
}

.news_img1 {
  width: 100%;
  filter: grayscale(80%);
}
.headline {
  padding: var(--gap2) var(--gap1);
}
.headline p {
  font-size: 14px;
  margin-bottom: var(--gap1);
}
.day {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.next1,
.next2 {
  right: -50px;
}
.prev1,
.prev2 {
  left: -50px;
}

/* 덧니, 피자, 퀴즈 */
.con {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.sec4 {
  border-right: 1px solid var(--line_c);
  border-left: 1px solid var(--line_c);
  width: calc(var(--mw) / 12 * 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec4 img {
  width: 100%;
}
.sec4 p {
  text-align: center;
  margin: var(--gap3) var(--gap3);
}

.sec5,
.sec6 {
  /* border: 1px solid palevioletred; */
  width: calc(var(--mw) / 12 * 6.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px var(--gap2);
  height: 45%;
  background-color: var(--sec_c1);
  border-bottom: 4px solid var(--point_c1);
  box-sizing: border-box;
}
.sec5 img {
  width: 40%;
}
.sec5_inner,
.sec6_inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(10%);
  margin-right: var(--gap3);
}
.sec5_inner p {
  text-align: right;
}

/* 뉴닉 퀴즈 */
.sec6 {
  margin-top: 40px;
}
.sec6_inner1 {
  padding-left: 52px;
}
.sec6 div span {
  font-size: 42px;
}
.sec6 div i {
  font-size: 30px;
  color: rgba(3, 0, 0, 0.6);
}
.sec5_inner p,
.sec6_inner2 p {
  padding-bottom: var(--gap1);
}

/* 프리미엄 콘텐츠 */
.sec7 {
  background-color: var(--main_c);
  margin-bottom: 80px;
}
.sec7_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec7_con a {
  color: var(--font_c);
}

.premium {
  border: 1px solid var(--line_c);
  border-radius: 15px;
  width: calc(var(--mw) / 3 - 1rem);
  display: flex;
  background-color: var(--sec_c1);
  margin-top: var(--gap1);
  position: relative;
}

.pre1::before {
  content: "";
  background: rgba(169, 139, 255, 0.3) url(../images/pre_book.png);
}
.pre2::before {
  content: "";
  background: rgba(100, 204, 123, 0.8) url(../images/pre_home.png);
  width: 100px;
  height: 100px;
}
.pre3::before {
  content: "";
  background: rgba(253, 233, 181, 0.8) url(../images/pre_money.png);
}
.premium::before {
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid var(--line_c);
  border-radius: 15px 0 0 15px;
  width: 100px;
  height: 100px;
  padding: var(--gap2);
}

.premium::after {
  content: "\2b";
  font-size: 2rem;
  color: var(--icon_c);
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.premium > div > span {
  font-size: 22px;
  display: block;
  margin: var(--gap2);
}
.premium > div > p {
  margin-left: var(--gap2);
}

/*  뉴닉 인스타그램 */
.sec8 {
  /* border: 1px solid red; */
  position: relative;
}

.slide2 {
  cursor: pointer;
}
.news_img2 {
  width: 100%;
}

/* 어플 다운로드 */
.sec9 {
  border-bottom: 2px solid var(--point_c1);
  background-color: var(--point_c1);
  margin-top: 180px;
  height: 160px;
  position: relative;
}
.sec9::before,
.sec9::after {
  content: "";
  background-image: url(../images/고슴이어플.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 140%;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
}
.sec9::after {
  content: "";
  background-image: url(../images/고슴이어플_반짝.png);
  opacity: 0;
  transition: 0.3s;
}
.sec9:hover::after {
  opacity: 1;
}

.app {
  background-color: var(--sec_c1);
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app p,
.app i {
  color: var(--font_c);
  padding: var(--gap1) 0;
}
.app i {
  margin-left: var(--gap2);
}

/* footer 영역 */
.company {
  /* border: 1px solid red; */
  border-top: 1px solid var(--line_c);
  margin-top: 80px;
}
.sec10 {
  display: flex;
  justify-content: space-between;
}

.info1 > p {
  margin: var(--gap3) 0;
}
.add {
  width: 900px;
}
.add > span {
  display: block;
  margin-bottom: var(--gap1);
}

.info2 {
  text-align: end;
  flex-grow: 1;
}

.foot_icons {
  padding: var(--gap1) 0;
}
.foot_icons a,
.foot_help a {
  padding-left: var(--gap2);
}
.foot_icons a img {
  width: 20px;
  height: 20px;
}

.foot_help {
  margin-top: var(--gap3);
}
.foot_help a {
  color: var(--font_c);
}

@media (max-width: 600px) {
  .top_nav {
    display: none;
    z-index: 900;
  }
  .btn_ham {
    display: block;
    font-size: 24px;
    color: var(--font_c);
    text-align: right;
    margin-left: 6.75rem;
    margin-top: 0.5rem;
  }

  /* 1분 뉴스, 고슴이 구독 */
  .inside {
    display: block;
  }
  .sec2 {
    max-width: 600px;
    position: relative;
    margin-top: 80px;
    border: 1px solid;
  }
  .sec2::before {
    content: "";
    background-image: url(../images/고슴이돋보기1.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    display: block;
    width: 340px;
    height: 340px;
    position: absolute;
    bottom: 60%;
    right: var(--gap2);
  }
  .sec2::after {
    content: "";
    background-image: url(../images/구독_도형.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

  /* 최신 뉴스레터 */

  /* 고슴이의 덧니 */
  .con {
    display: block;
  }

  /* 프리미엄 콘텐츠 */
  .sec7_con {
    display: block;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--sec_c1);
  border-bottom: 2px solid var(--point_c1);
  display: none;
  z-index: 9000;
}
.modal.on {
  display: flex;
  justify-content: center;
}

.modal_gnb {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
.modal_gnb a {
  color: var(--font_c);
  margin: var(--gap2) var(--gap3);
  overflow: hidden;
}
.modal_gnb a span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.modal_gnb a span::before {
  content: attr(data-hover);
  font-weight: bold;
  position: absolute;
  top: 100%;
  color: var(--point_c1);
}
.modal_gnb a:hover span,
.modal_gnb a:focus span {
  transform: translateY(-100%);
}

.btn_x {
  outline: none;
  border: transparent;
  background-color: var(--sec_c1);
  box-sizing: border-box;
  padding: var(--gap1);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.btn_x i {
  font-size: var(--gap3);
  color: var(--font_c);
  transition: 0.3s;
}
.btn_x:hover i {
  color: var(--point_c1);
}
