@charset 'utf-8';
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

:root {
  --mw: 1440px;
  --gap1: 8px;
  --gap2: 16px;
  --gap3: 32px;
  --font_c: #051619;
  --font_c2: rgba(0, 0, 0, 0.6);
  --main_c: #f5f1e8;
  --point_c1: #ff8303;
  --point_c2: #a35709;
  --sec_c1: #fcfbf8;
  --line_c: rgba(3, 0, 0, 0.2);
  --icon_c: rgba(3, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  background-color: var(--main_c);
  font-family: "Pretendard-Regular";
  font-weight: 200;
}

.mw {
  /* border: 1px solid red; */
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: var(--gap3) auto;
}

.top_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 226px;
}
.logo img {
  width: 100%;
}

.top_icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top_icons button {
  outline: none;
  border: none;
  padding-left: var(--gap3);
  background-color: var(--main_c);
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 600;
}

.top_icons button:hover {
  color: var(--point_c1);
}

.btn_ham {
  display: none;
}

/* 메뉴 영역 */
.gnb1 {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 20%;
  overflow: hidden;
  margin-top: var(--gap3);
}

.top_nav a {
  color: var(--font_c);
  font-size: 20px;
  padding: 0 2rem;
}

.top_nav a span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.top_nav a span::before {
  content: attr(data-hover);
  font-weight: bold;
  position: absolute;
  top: 120%;
  color: var(--point_c1);
}
.top_nav a:hover span,
.top_nav a:focus span {
  transform: translateY(-120%);
}

.btn_free span {
  display: inline-block;
  border: 1px solid var(--point_c1);
  border-radius: 30px;
  background-color: var(--point_c1);
  color: var(--sec_c1);
  padding: 0.25rem 1.75rem;
}
.btn_free:hover span {
  color: var(--font_c);
}

/* 메인영역 공통 */
.sec_title {
  border-bottom: 1px solid rgba(3, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: var(--gap3);
}

.title {
  /* border: 1px solid tomato; */
  position: relative;
  padding-right: 1rem;
}
.title strong {
  font-size: 22px;
  position: relative;
  z-index: 1;
}
.title img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.view_more span,
.view_more i {
  color: var(--font_c2);
}

.btn {
  outline: none;
  border: 1px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--point_c2);
  padding: 0.25rem var(--gap2);
  margin-top: var(--gap1);
  color: var(--sec_c1);
  font-weight: 600;
}
.btn:hover {
  color: var(--point_c2);
  background-color: var(--main_c);
  border: 1px solid var(--point_c2);
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
}

/* 모바일 메뉴 영역 */
.M_menu {
  background-color: var(--sec_c1);
  border-top: 2px solid var(--point_c1);
  border-bottom: 2px solid var(--point_c1);
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 50vh;
  display: none;
  z-index: 100;
}
.M_menu.on {
  display: block;
}
.M_gnb {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.M_gnb a {
  overflow: hidden;
  color: var(--font_c);
}
.M_gnb a span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.M_gnb a span::before {
  content: attr(data-hover);
  font-weight: bold;
  position: absolute;
  top: 100%;
  color: var(--point_c1);
}
.M_gnb a:hover span,
.M_gnb a:focus span {
  transform: translateY(-100%);
}

.btn_free span {
  display: inline-block;
  border: 1px solid var(--point_c1);
  border-radius: 30px;
  background-color: var(--point_c1);
  color: var(--sec_c1);
  padding: 0.25rem 1.75rem;
}
.btn_free:hover span {
  color: var(--font_c);
}

.M_menu_x {
  position: absolute;
  top: 10px;
  right: 10px;
}
.btn_x {
  outline: none;
  border: none;
  background-color: var(--sec_c1);
  cursor: pointer;
}
.btn_x i {
  font-size: 24px;
}
.btn_x:hover i {
  color: var(--point_c1);
}

/* 1분뉴수&고슴구독 */
.inside {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
/* 오늘의 1분뉴스 */
.sec1 {
  width: 30%;
}
.short_news_inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(3, 0, 0, 0.4);
  padding: var(--gap1) 0;
}
.short_news_inner a {
  color: var(--font_c);
}
.short_news_inner a span {
  white-space: nowrap;
}

.view,
.short_news_inner i {
  color: rgba(0, 0, 0, 0.8);
}

/* 고슴 구독 */
.sec2 {
  /* border: 1px solid green; */
  width: 60%;
  position: relative;
}
.sec2::before {
  content: "";
  background-image: url(../images/구독_도형.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.sec2::after {
  content: "";
  background-image: url(../images/고슴이돋보기1.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: block;
  width: 340px;
  height: 340px;
  position: absolute;
  bottom: 0;
  right: var(--gap2);
}

.sec2_inner {
  /* border: 1px solid tomato; */
  position: absolute;
  width: 60%;
  left: 50px;
  bottom: 20px;
}
.sec2_inner p {
  color: white;
  white-space: nowrap;
}
.sec2_title {
  font-size: 42px;
  margin-bottom: var(--gap2);
}
.sec2_text1 {
  margin-bottom: var(--gap1);
}
.sec2_text1 p span {
  font-weight: 600;
}

/* 최신 뉴스레터 */
.slide1 {
  width: calc(100% / 5 - 1rem);
  border: 1px solid var(--line_c);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.news_img1 {
  width: 100%;
  filter: grayscale(80%);
}
.slide1:hover img {
  filter: none;
}

.headline {
  padding: var(--gap2) 1rem;
  height: 120px;
}
.headline p {
  margin-bottom: var(--gap2);
  height: 40px;
}
.day span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

/* 슬라이드 공통 영역 - 좌우 버튼 */
.sec3,
.sec8 {
  position: relative;
}
.sec8_more,
.sec3_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no_btn {
  display: none;
  color: rgba(0, 0, 0, 0.8);
  padding-right: var(--gap3);
}

.next1,
.next2 {
  right: -50px;
  top: 60%;
}
.prev1,
.prev2 {
  left: -50px;
  top: 60%;
}

/* 덧니, 피자, 퀴즈 */
.con {
  display: flex;
  justify-content: space-between;
}

.sec4 {
  width: calc(100% / 12 * 5);
  border-right: 1px solid var(--line_c);
  border-left: 1px solid var(--line_c);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec4 img {
  width: 100%;
}
.sec4 p {
  text-align: center;
  padding: var(--gap2) 62px;
  margin-top: var(--gap2);
}

.sec_pq {
  width: calc(100% / 12 * 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec5,
.sec6 {
  background-color: var(--sec_c1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  border-bottom: 4px solid var(--point_c1);
}
.sec5 img {
  /* border: 1px solid; */
  width: 30%;
}
.sec5_inner,
.sec6_inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: var(--gap3);
}
.sec5_inner p,
.sec6_inner2 p {
  text-align: right;
  white-space: nowrap;
  padding-bottom: var(--gap2);
}

.sec6_inner1 {
  /* border: 1px solid; */
  padding: 0 var(--gap3);
  white-space: nowrap;
  width: 30%;
}
.sec6_inner1 span {
  font-size: 38px;
}
.sec6_inner1 i {
  font-size: 30px;
  color: var(--icon_c);
}

/* 프리미엄 콘텐츠 */
.sec7 {
  background-color: var(--main_c);
  margin-bottom: 80px;
}
.sec7_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec7_con a {
  color: var(--font_c);
}

.premium {
  border: 1px solid var(--line_c);
  border-radius: 15px;
  width: calc(100% / 3 - 1rem);
  display: flex;
  background-color: var(--sec_c1);
  margin-top: var(--gap1);
  position: relative;
}
.premium a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
}
.premium:hover a {
  opacity: 0;
}

.pre1::before {
  content: "";
  background: rgba(169, 139, 255, 0.3) url(../images/pre_book.png);
}
.pre2::before {
  content: "";
  background: rgba(100, 204, 123, 0.8) url(../images/pre_home.png);
  width: 100px;
  height: 100px;
}
.pre3::before {
  content: "";
  background: rgba(253, 233, 181, 0.8) url(../images/pre_money.png);
}
.premium::before {
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid var(--line_c);
  border-radius: 15px 0 0 15px;
  width: 100px;
  height: 100px;
  padding: var(--gap2);
}
.premium::after {
  content: "\2b";
  font-size: 2rem;
  color: var(--icon_c);
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
.premium > div > span {
  font-size: 22px;
  display: block;
  padding: var(--gap2);
}
.premium > div > p {
  /* border: 1px solid tomato; */
  padding: 0 var(--gap2);
  white-space: nowrap;
}

/* 인스타그램 */
.slide2 {
  width: calc(100% / 5 - 1rem);
  cursor: pointer;
  position: relative;
}
.slide2 img {
  width: 100%;
}
.slide2 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: transparent;
}
.slide2 a span {
  line-height: 250px;
}
.slide2:hover a {
  color: var(--main_c);
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(3, 0, 0, 0.2);
}

/* 어플 다운로드 */
.sec9 {
  background-color: var(--point_c1);
  height: 140px;
  position: relative;
  margin-top: 100px;
}
.sec9 a {
  /* border: 1px solid magenta; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
}
.sec9::before,
.sec9::after {
  content: "";
  background-image: url(../images/고슴이어플.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 140%;
  bottom: 28%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  cursor: pointer;
  /* 가상태그에는 a 태그가 적용이 안되나요? */
}
.sec9::after {
  content: "";
  background-image: url(../images/고슴이어플_반짝.png);
  opacity: 0;
  transition: 0.3s;
}
.sec9:hover::after {
  opacity: 1;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: var(--gap1) 0;
  background-color: var(--sec_c1);
  border-bottom: 2px solid var(--point_c1);
}
.app p {
  padding-right: var(--gap3);
}

/* gotop 버튼 */
.gotop {
  position: fixed;
  bottom: 40px;
  right: 20px;
}
.gotop i {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: var(--sec_c1);
  background-color: var(--point_c2);
  border-radius: 30px;
  padding: var(--gap2);
}
.gotop:hover i {
  color: var(--point_c1);
  background-color: var(--sec_c1);
  border: 2px solid var(--point_c1);
  border-radius: 30px;
  cursor: pointer;
  /* 화살표 위치...? */
}

/* footer 영역 */
.sec10 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: var(--gap1) 0;
}

.info1 p,
.add {
  padding: var(--gap1) 0;
}

.foot_icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foot_icons a,
.foot_help a {
  padding-left: var(--gap2);
  color: var(--font_c);
}

/* 모바일 메뉴 */

@media (max-width: 1600px) {
  .next1,
  .next2 {
    display: none;
    right: 50px;
  }
  .prev1,
  .prev2 {
    display: none;
    left: 50px;
  }
  .no_btn {
    display: block;
  }
}

@media (max-width: 1315px) {
  .gnb1 {
    display: none;
  }
  .btn_ham {
    display: block;
  }
  .btn_ham i {
    font-size: 30px;
    padding: var(--gap1) 0;
  }
}

@media (max-width: 600px) {
  .inside {
    display: block;
  }
  .sec1 {
    width: 100%;
  }
  .sec2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;
    margin-top: 160px;
  }
  .sec2::before {
    content: "";
    background-image: url(../images/고슴이돋보기1.png);
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    width: 260px;
    position: absolute;
    bottom: 42%;
    right: 10px;
  }
  .sec2::after {
    content: "";
    background-image: url(../images/구독_도형.png);
    background-size: cover;
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
  }
  .sec2_inner {
    /* border: 1px solid red; */
    z-index: 10;
    position: absolute;
    width: 80%;
    left: 20px;
    bottom: 20px;
  }
  .sec2_title {
    font-size: 34px;
    margin-bottom: var(--gap2);
  }
  .sec2_text1 {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .sec2_text_con p {
    font-size: 14px;
  }

  .con {
    display: block;
  }
  .sec4,
  .sec_pq {
    width: 100%;
  }
  .sec5,
  .sec6 {
    height: 120px;
    margin-top: var(--gap2);
  }
  .sec6_inner1 span {
    font-size: 30px;
  }
  .sec6_inner1 i {
    font-size: 26px;
  }

  .sec7_con {
    display: block;
  }
  .premium {
    width: 100%;
  }

  .sec10 {
    display: block;
  }
  .foot_icons {
    display: block;
    margin: var(--gap1) 0 0 0;
  }
  .foot_icons a {
    /* border: 1px solid; */
    padding: 0;
    margin-right: var(--gap2);
  }

  .foot_help {
    margin-top: var(--gap2);
  }
  .foot_help a {
    padding-left: 0;
    padding-right: var(--gap2);
  }
}
